body { 
	color: #444751;
	font-family: 'Century Gothic', 'century gothic', 'verdana', 'lucida grande', 'lucida sans', 'bitstream vera sans'; 
	margin: 0;
}
img {
	display: inline;
	border: 0;
}
h1 {
	margin: 5px 0;
}
header {
	width: 375px;
}
#charts {
	float: left;
	width: 1000px;
}
#charts h1 { 
	padding: 25px 2px 30px 140px;
	margin: 0;
	font-size: 1em;
	border-top-color:#444751;
	border-top-style:solid;
	border-top-width:5px;
	height: 100px;
}
#chart_row_one, #chart_row_two, #chart_row_three {
	float: left;
}
#chart_row_one {
	margin: 0 45px 0 0;
}
#charts h1:hover {
	cursor: pointer;
}
em {
	font-size: 1em; 
	font-style: normal; 
	color: #999; 
}
a { 
	color: #888; 
	text-decoration: none; 
	cursor: default;
}
#header {
	background-attachment:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-image:initial;
	background-origin:initial;
	background-position:initial initial;
	background-repeat:initial initial;
	clear:both;
	display:inline;
	float:left;
	min-width:940px;
	width:100%;
	margin: 35px 0 0 0;
}
#logo, #tagline {
	float: left;
}
#logo {
	font-size: 21px;
	margin: 0 10px 0 0;
	padding: 1px 5px 1px 5px;
}
#tagline {
	padding: 7px 5px 5px 0;
}
#body {
	line-height: 1.4;
	background-attachment:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-image:initial;
	background-origin:initial;
	background-position:initial initial;
	background-repeat:initial initial;
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:15px;
	clear:both;
	display:inline;
	float:left;
	min-width:1100px;
	width:100%;
	margin: 15px 0 0 0;
}
#footer {
	border-top-color:#C0C0C8;
	border-top-style:solid;
	border-top-width:2px;
	clear:both;
	color:#565656;
	display:inline;
	float:left;
	min-width:940px;
	padding-bottom:40px;
	padding-left:0;
	padding-right:0;
	padding-top:15px;
	width:100%;
}
#copyright {
	margin: 0 0 0 238px;
}
.wrap {
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	text-align:left;
	width:1050px;
}
#player_wrapper {
	height: 0;
}
#player_fixed {
	position: fixed;
	/*width: 300px;*/
	/*top: 178px;*/
	top: 50px;
	left: 30px;
	z-index:100;
	width: 460px;
}
#player_playlist {
	margin: 5px 0 0 0;
	border: 0;
}
#content_wrapper {
	margin: 0 0 0 515px;
	float: left;
}

#container, #body {
	background-attachment:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-image:initial;
	background-origin:initial;
	background-position:initial initial;
	background-repeat:initial initial;
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:15px;
	clear:both;
	display:inline;
	float:left;
	min-width:960px;
	padding-bottom:80px;
	width:100%;
}

#charts ul, #player_fixed ol {
	padding: 0;
	margin: 0;
	list-style: none;
	border-top: 1px solid #ccc;
	font-size: 0.9em;
}
#charts ul li, #player_fixed ol li{
	margin: 0px;
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;
	height: 50px;
}
#charts ul li {
	width: 375px;
	height: 67px;
}
#player_fixed ol li div.track_artist, #charts ul li div.track_artist {
	font-size: 13px;
	color: #999999;
	margin: 3px 0 0 0;
}
/*#player_fixed ol li div.track_artist:hover, #charts ul li div.track_artist:hover {
	cursor: pointer;
	text-decoration: underline;
}*/
#player_fixed ol li {
	width: 461px;
	height: 67px;
	margin: 5px 0;
}

#charts ul li a, #player_fixed ol li a { 
	color: #000; 
	text-indent: -3.3ex; 
	padding: 0;
	font-size: 13px;
}
li.playing {
	/*background-color: #b3ffba;*/
	background: #B2FFD1;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); 
}
#player_fixed ol li.playing:before { 
/*	content: '►';
	width: 14px; 
	height: 14px; 
	padding: 3px; 
	line-height: 14px; 
	margin: 0px; 
	position: absolute; 
	left: -35px; 
	top: 60px; 
	color: #000; 
	font-size: 13px; 
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); */
}

#player_fixed ol li div.track_icons, #charts ul li div.track_icons {
	float: right;
}

#player_fixed ol li div.queue_button,
#charts ul li div.queue_button,
#player_fixed ol li div.play_button,
#charts ul li div.play_button, 
#player_fixed ol li div.download,
#charts ul li div.download  {
	float: right;
	cursor: pointer;
	margin: 26px 0 0 5px;
}

#player_fixed ol li div.download,
#player_fixed ol li div.queue_button,
#player_fixed ol li div.play_button {
	margin: 23px 5px 0 0;
}

/*ul li div.queue_button, ol li div.queue_button {
	margin: 11px 11px 0 0;
}

ul li div.play_button, ol li div.play_button {
	margin: 5px 11px 0 0;
	font-size: 20px;
}
*/
#charts ul li div.track_info, #player_fixed ol li div.track_info {
	float: left;
	margin: 0 0 0 83px;
}

/*ol li div.download, ul li div.download {
	font-size: 25px;
}*/
/*
ol li div.download {
	margin: 0 0 0 0;
}
ul li div.download {
	margin: 0 10px 0 0;
}*/

#player_fixed ol li .track_detail {
	height: 35px;
	padding: 5px 0 0 0;
}
#charts ul li .track_detail {
	height: 35px;
}
.pagination {
	float: left;
	height: 30px;
	margin: 0 0 0 15px;
	clear: both;
}
.pagination a, .pagination span, .pagination em {
	display:inline;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 2px #CCCCCC, 0 1px 1px white inset;
	-webkit-box-shadow:#CCCCCC 0 1px 2px, white 0 1px 1px inset;
	background-color:#F9F8F9;
	background-image:-webkit-linear-gradient(top, #F9F8F9, #EDE8ED);
	border-bottom-color:#D2CBD2;
	border-bottom-left-radius:4px 4px;
	border-bottom-right-radius:4px 4px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#D2CBD2;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#D2CBD2;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#D2CBD2;
	border-top-left-radius:4px 4px;
	border-top-right-radius:4px 4px;
	border-top-style:solid;
	border-top-width:1px;
	box-shadow:#CCCCCC 0 1px 2px, white 0 1px 1px inset;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	line-height:14px;
	padding: 1px 3px 1px 3px;
	text-align:center;
	text-decoration:none;
	text-shadow:white 0 1px 0;
}

.pagination a:hover, .pagination span:hover, .pagination em {
	background-color:#E0DAE0;
	background-image:-webkit-linear-gradient(top, #E0DAE0, #CCC5CC);
	border-bottom-color:#A89BA8;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#A89BA8;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#A89BA8;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#A89BA8;
	border-top-style:solid;
	border-top-width:1px;
	box-shadow:#CCCCCC 0 1px 2px;
	cursor:default;
	text-shadow:white 0 1px 0;
}

.tags span {
	/*-webkit-box-shadow:white 0 0 1px 0;*/
	background-attachment:initial;
	background-clip:initial;
	background-color:#9ED2D0;
	background-image:initial;
	background-origin:initial;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 0 0 1px 0 white;
	/*box-shadow:white 0 0 1px 0;*/
	color:white;
	cursor:pointer;
	display:inline;
	float:left;
	font-size:11px;
	margin-bottom:0;
	margin-left:0;
	margin-right:4px;
	margin-top:2px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
}

ul .tags span {
	margin: 5px 0 0 0;
}

#topbar {
	background-color:#057150;
	background-image:-webkit-gradient(linear, 0 100%, 0 0%, from(#282828), to(#282828));
	border-bottom-color:#9ED2D0;
	border-bottom-style:solid;
	border-bottom-width:2px;
	color:#F0F0F0;
	height:28px;
	margin-bottom:15px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	min-width:1000px;
	position:fixed;
	width:100%;
}

#topbar #lastupdate {
	float: right;
	padding: 5px 0;
	margin: 0 10px;
}
#topnav {
	display: inline;
	float: left;
	font-size: 15px;
}
#topbar ul {
	margin: 0;
	padding: 5px 0;
	margin: 0 115px;
	height: 28px;
}
#topnav li {
	display: inline;
	float: left;
	padding: 0 10px;
	margin: 0 5px 0 0;
}
#topnav li a {
	color: #9ED2D0;
}


.fixed {position: fixed;top: 0px;margin-left: 540px;}

@media screen and (max-device-width: 480px) {
	 #wrapper { position: relative; left: -3%; }
	 #shortcuts { display: none; }
	}
	.clear {
		clear: both;
	}
}