body { 
	color: #444751;
	font-family: 'Century Gothic', 'century gothic', 'arial', 'verdana', 'lucida grande', 'lucida sans', 'bitstream vera sans'; 
	margin: 0;
}
img {
	display: inline;
	border: 0;
}
#charts, #topdownloads {
	float: left;
	margin: 0 45px 0 0;
}
#charts h1, #topdownloads h1 { 
	font-size: 1em;
	margin: 0;
}
.chartheader {
	background: -webkit-linear-gradient(top, #BDEBE9, #ADDAD8);
	background: -moz-linear-gradient(top, #BDEBE9, #ADDAD8);;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #86B2B1;
	box-shadow: #CCCCCC 0 1px 1px;
	-webkit-box-shadow: #C0C0C0 0 1px 1px;
	color: #FFF;
	text-shadow: #367B83 0 1px 1px;
/*	border-bottom-color:#444751;
	border-bottom-style:solid;
	border-bottom-width:5px;*/
	height: 160px;
	width: 382px;
	margin: 5px 0 5px 0;
	clear: both;
}
.chartimage {
	float: left;
	padding: 15px 0 0px 0;
	margin: 0 0 0 10px;
}
.chartinfo {
	float: left;
	width: 225px;
	padding: 10px 0 0 0;
	margin: 0 0 0 10px;
}
.chartinfo .charttitle {
	font-size: 17px;
}
.chartinfo .chartdate {
	text-shadow: 0;
}

.header {
	height: 35px;
	color: white;
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#444444), color-stop(0.5, #282828), color-stop(0.51, #282828), to(#282828));
	background: -moz-linear-gradient(top, #444444,#282828);
	box-shadow: rgba(0, 0, 0, 0.292969) 1px 1px 8px;
/*	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;*/
	border-top: 1px solid #191919;
	border-bottom: 2px solid #9ED2D0;
/*	border-top-left-radius:3px 3px;
	border-top-right-radius:3px 3px;*/
}
.header .title {
	float: left;
	font-size: 21px;
	text-shadow: #282828 0 1px 1px;
	padding: 0 0 0 10px;
}
/*.header .pagination {
	float: right;
}*/
#charts h1:hover {
	cursor: pointer;
}
em {
	font-size: 1em; 
	font-style: normal; 
	color: #999; 
}
a { 
	color: #888; 
	text-decoration: none; 
	cursor: default;
}
#header {
	background-attachment:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-image:initial;
	background-origin:initial;
	background-position:initial initial;
	background-repeat:initial initial;
	clear:both;
	display:inline;
	float:left;
	min-width:940px;
	width:100%;
	margin: 35px 0 0 0;
}
#logo, #tagline {
	float: left;
}
#logo {
	font-size: 21px;
	margin: 0 10px 0 0;
	padding: 3px 5px 1px 5px;
}
#tagline {
	padding: 10px 5px 5px 0;
}
#body {
	line-height: 1.4;
	background-attachment:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-image:initial;
	background-origin:initial;
	background-position:initial initial;
	background-repeat:initial initial;
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:15px;
	clear:both;
	display:inline;
	float:left;
	min-width:1100px;
	width:100%;
	margin: 15px 0 0 0;
}
#footer {
	border-top-color:#C0C0C8;
	border-top-style:solid;
	border-top-width:2px;
	clear:both;
	color:#565656;
	display:inline;
	float:left;
	min-width:940px;
	padding-bottom:40px;
	padding-left:0;
	padding-right:0;
	padding-top:15px;
	width:100%;
}
.wrap {
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	text-align:left;
	width:1050px;
}
#player_fixed {
	position: fixed;
	top: 50px;
	left: 30px;
/*	float: left;
	width: 320px;
	margin: 0 0 0 30px;*/
}
#player_playlist {
	margin: 5px 0 0 0;
	border: 0;
}
.content_wrapper {
	margin: 0 0 0 385px;
	float: left;
	width: 1015px;
}

#container, #body {
	background-attachment:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-image:initial;
	background-origin:initial;
	background-position:initial initial;
	background-repeat:initial initial;
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:15px;
	clear:both;
	display:inline;
	float:left;
	min-width:960px;
	padding-bottom:80px;
	width:100%;
}

#topdownloads ul, #charts ul, #player_fixed ol {
	padding: 0;
	margin: 0;
	list-style: none;
	border-top: 1px solid #ccc;
	font-size: 0.9em;
}
#topdownloads ul li, #charts ul li, #player_fixed ol li{
	margin: 3px 0 0 0;
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;
	height: 50px;
}
#topdownloads ul li, #charts ul li {
	width: 385px;
	height: 65px;
}
#topdownloads ul li, #charts ul li div.track_artist {
	font-size: 13px;
	color: #999999;
	margin: 3px 0 0 0;
}
#player_fixed ol li div.track_artist {
	font-size: 11px;
	color: #999999;
	margin: 3px 0 0 0;
}
/*#player_fixed ol li div.track_artist:hover, #charts ul li div.track_artist:hover {
	cursor: pointer;
	text-decoration: underline;
}*/
#player_fixed ol li {
	width: 320px;
	height: 67px;
	margin: 0 0 5px 0;
}

#topdownloads ul li a, #charts ul li a, #player_fixed ol li a { 
	color: #000; 
	text-indent: -3.3ex; 
	padding: 0;
	font-size: 13px;
}
li.playing {
	/*background-color: #b3ffba;*/
	background: -webkit-linear-gradient(top, #BEFFE8, #B2FFD1);
	background: -moz-linear-gradient(top, #BEFFE8, #B2FFD1);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); 
}
#player_fixed ol li.playing:before { 
/*	content: '►';
	width: 14px; 
	height: 14px; 
	padding: 3px; 
	line-height: 14px; 
	margin: 0px; 
	position: absolute; 
	left: -35px; 
	top: 60px; 
	color: #000; 
	font-size: 13px; 
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); */
}

#player_fixed ol li div.track_icons, #charts ul li div.track_icons {
	float: left;
}

#player_fixed ol li div.queue_button,
#charts ul li div.queue_button,
#topdownloads ul li div.queue_button,
#player_fixed ol li div.play_button,
#charts ul li div.play_button,
#topdownloads ul li div.play_button,
#player_fixed ol li div.download,
#charts ul li div.download,
#topdownloads ul li div.download  {
	float: left;
	cursor: pointer;
	margin: 8px 5px 0 0;
}

#player_fixed ol li div.download,
#player_fixed ol li div.queue_button,
#player_fixed ol li div.play_button {
	margin: 8px 5px 0 0;
}

/*ul li div.queue_button, ol li div.queue_button {
	margin: 11px 11px 0 0;
}

ul li div.play_button, ol li div.play_button {
	margin: 5px 11px 0 0;
	font-size: 20px;
}
*/
#topdownloads ul li div.track_info, #charts ul li div.track_info {
	float: left;
	margin: 0 0 0 15px;
	width:235px;
}
#player_fixed ol li div.track_info {
	float: left;
	margin: 0 0 0 15px;
	width:230px;
}
#topdownloads ul li div.track_image, #charts ul li div.track_image {
	padding: 3px 0 0 13px;
	float: left;
}
#topdownloads ul li span.track_position, #charts ul li span.track_position {
	float: left;
	padding: 5px 0 0 15px;
	font-size: 38px;
	color: #c6c6c6;
}
#player_fixed ol li span.track_position {
	display: none;
}
#player_fixed ol li div.track_image {
	float: left;
	padding: 0 0 0 15px;
}

/*ol li div.download, ul li div.download {
	font-size: 25px;
}*/
/*
ol li div.download {
	margin: 0 0 0 0;
}
ul li div.download {
	margin: 0 10px 0 0;
}*/

#player_fixed ol li .track_detail {
	height: 35px;
	padding: 5px 0 0 0;
}
#charts ul li .track_detail {
	height: 65px;
}
.pagination {
	float: right;
	height: 30px;
}
.pagination.charts {
	padding: 8px 10px 0 0;
}
.pagination.topdownloads {
	padding: 8px 10px 0 0;
}
.pagination .disabled {
	color: #E0DAE0;
}
.pagination a, .pagination span, .pagination em {
	display:inline;
/*	-moz-border-radius: 4px 4px 4px 4px;*/
	-moz-box-shadow: 0 1px 2px #CCCCCC, 0 1px 1px white inset;
	-webkit-box-shadow:#CCCCCC 0 1px 2px, white 0 1px 1px inset;
	background-color:#F9F8F9;
	background-image:-webkit-linear-gradient(top, #F9F8F9, #EDE8ED);
	border-bottom-color:#D2CBD2;
/*	border-bottom-left-radius:4px 4px;
	border-bottom-right-radius:4px 4px;*/
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#D2CBD2;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#D2CBD2;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#D2CBD2;
/*	border-top-left-radius:4px 4px;
	border-top-right-radius:4px 4px;*/
	border-top-style:solid;
	border-top-width:1px;
	box-shadow:#CCCCCC 0 1px 2px, white 0 1px 1px inset;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	line-height:14px;
	padding: 1px 3px 1px 3px;
	text-align:center;
	text-decoration:none;
	text-shadow:white 0 1px 0;
}

.pagination a:hover, .pagination span:hover, .pagination em {
	background-color:#E0DAE0;
	background-image:-webkit-linear-gradient(top, #E0DAE0, #CCC5CC);
	border-bottom-color:#A89BA8;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#A89BA8;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#A89BA8;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#A89BA8;
	border-top-style:solid;
	border-top-width:1px;
	box-shadow:#CCCCCC 0 1px 2px;
	cursor:default;
	text-shadow:white 0 1px 0;
}

.tags {
	clear: both;
}

.tags span {
	/*-webkit-box-shadow:white 0 0 1px 0;*/
	background-attachment:initial;
	background-clip:initial;
	background-color:#709B9A;
	background-image:initial;
	background-origin:initial;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 0 0 1px 0 white;
	/*box-shadow:white 0 0 1px 0;*/
	color:white;
/*	cursor:pointer;*/
	display:inline;
	float:left;
	font-size:11px;
	margin-bottom:0;
	margin-left:0;
	margin-right:4px;
	margin-top:6px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
}

ul .tags span {
	margin: 5px 0 0 0;	
}
ul li.odd {
	background: #F1F1F1;
}
ul li.even {
	background: #F7F7F7;
}

#topbar {
	background: -webkit-gradient(linear, 0 0%, 0 100%, from(#444444), color-stop(0.5, #282828), color-stop(0.51, #282828), to(#282828));
	background: -moz-linear-gradient(top,#444444,#282828);
/*	background-image:-webkit-gradient(linear, 0 100%, 0 0%, from(#282828), to(#282828));*/
	border-bottom-color:#9ED2D0;
	border-bottom-style:solid;
	border-bottom-width:2px;
	color:#F0F0F0;
	height:35px;
	margin-bottom:15px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	min-width:1000px;
	position:fixed;
	width:100%;
}

#topbar #lastupdate {
	float: right;
	padding: 10px 0 0 0;
	margin: 0 10px;
}
#topnav {
	display: inline;
	float: left;
	font-size: 15px;
}
#topbar ul {
	margin: 0;
	padding: 5px 0;
	margin: 0 115px;
	height: 28px;
}
#topnav li {
	display: inline;
	float: left;
	padding: 0 10px;
	margin: 0 5px 0 0;
}
#topnav li a {
	color: #9ED2D0;
}


.fixed {position: fixed;top: 0px;margin-left: 540px;}

@media screen and (max-device-width: 480px) {
	 #wrapper { position: relative; left: -3%; }
	 #shortcuts { display: none; }
	}
	.clear {
		clear: both;
	}
}
.scrubber {
	width: 150px !important;
}