body { 
	color: #444751;
	font-family: 'Century Gothic', 'lucida grande', 'lucida sans', 'bitstream vera sans', 'verdana'; 
	line-height: 1.4;
	margin: 0;
}
img {
	display: inline;
	border: 0;
}
h1 {
	margin: 5px 0;
}
#charts h1 { 
	padding: 30px 2px 30px 70px;
	margin: 15px 0 0 0;
	font-size: 1em;
	border-top-color:#444751;
	border-top-style:solid;
	border-top-width:5px;
}
#charts h1:hover {
	cursor: pointer;
}
em {
	font-size: 1em; 
	font-style: normal; 
	color: #999; 
}
a { 
	color: #888; 
	text-decoration: none; 
	cursor: default;
}
#player_wrapper {
	float: left;
}
#player_fixed {
	position: relative;
	/*width: 300px;*/
	top: 0px;
	/*left: 315px;*/
	z-index:100;
}
#player_playlist {
	margin: 5px 0 0 0;
	border: 0;
}
#content_wrapper {
	width: 425px;
	float: right;
}
#container, #body_container {
	width: 920px;
	margin: 0px auto;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 425px;
	border-top: 1px solid #ccc;
	font-size: 0.9em;
}
ul {
	border-bottom: 1px solid #ccc;
}
ul li, ol li{
	margin: 0px;
	padding: 15px 0px 15px;
	border-bottom: 1px solid #ccc;
}
ul li {
	width: 425px;
}
ol li div.track_artist, ul li div.track_artist {
	font-size: 12px;
	color: #999999;
}
ol li {
	width: 461px;
}

ul li a, ol li a { 
	color: #888; 
	text-indent: -3.3ex; 
	padding: 0; 
}
li.playing {
	background-color: #b3ffba;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); 
}
ol li.playing:before { 
/*	content: '►';
	width: 14px; 
	height: 14px; 
	padding: 3px; 
	line-height: 14px; 
	margin: 0px; 
	position: absolute; 
	left: -35px; 
	top: 60px; 
	color: #000; 
	font-size: 13px; 
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); */
}

ol li div.track_icons, ul li div.track_icons {
	float: right;
}

ol li div.queue_button,
ul li div.queue_button,
ol li div.play_button,
ul li div.play_button, 
ol li div.download,
ul li div.download  {
	float: right;
	cursor: pointer;
	margin: 11px 0 0 5px;
}

ol li div.download,
ol li div.queue_button,
ol li div.play_button {
	margin: 11px 5px 0 0;
}

/*ul li div.queue_button, ol li div.queue_button {
	margin: 11px 11px 0 0;
}

ul li div.play_button, ol li div.play_button {
	margin: 5px 11px 0 0;
	font-size: 20px;
}
*/
ul li div.track_info, ol li div.track_info {
	float: left;
	margin: 0 0 0 70px;
}

/*ol li div.download, ul li div.download {
	font-size: 25px;
}*/
/*
ol li div.download {
	margin: 0 0 0 0;
}
ul li div.download {
	margin: 0 10px 0 0;
}*/

ol li .track_detail {
	height: 35px;
}
ul li .track_detail {
	height: 35px;
}
.pagination {
	margin: 5px 0 25px 0;
}
.pagination.bottom {
	margin: 15px 0 25px 0;
}
.pagination a, .pagination span, .pagination em {
	display:inline;
	margin-right:5px;
	-webkit-box-shadow:#CCCCCC 0 1px 2px, white 0 1px 1px inset;
	background-color:#F9F8F9;
	background-image:-webkit-linear-gradient(top, #F9F8F9, #EDE8ED);
	border-bottom-color:#D2CBD2;
	border-bottom-left-radius:4px 4px;
	border-bottom-right-radius:4px 4px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#D2CBD2;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#D2CBD2;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#D2CBD2;
	border-top-left-radius:4px 4px;
	border-top-right-radius:4px 4px;
	border-top-style:solid;
	border-top-width:1px;
	box-shadow:#CCCCCC 0 1px 2px, white 0 1px 1px inset;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	line-height:14px;
	padding-bottom:3px;
	padding-left:6px;
	padding-right:6px;
	padding-top:5px;
	text-align:center;
	text-decoration:none;
	text-shadow:white 0 1px 0;
}

.pagination a:hover, .pagination span:hover, .pagination em {
	background-color:#E0DAE0;
	background-image:-webkit-linear-gradient(top, #E0DAE0, #CCC5CC);
	border-bottom-color:#A89BA8;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#A89BA8;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#A89BA8;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#A89BA8;
	border-top-style:solid;
	border-top-width:1px;
	box-shadow:#CCCCCC 0 1px 2px;
	cursor:default;
	text-shadow:white 0 1px 0;
}

#topadminbar {
	background-color:#777777;
	background-image:-webkit-gradient(linear, 0 100%, 0 0%, from(#D7D7D7), to(#E4E4E4));
	border-bottom-color:#C6C6C6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	color:#DDDDDD;
	font:normal normal normal 12px/28px Arial, Helvetica, sans-serif;
	height:28px;
	float: left;
	width:920px;
	margin: 0 0 15px 0;
}


.fixed {position: fixed;top: 0px;margin-left: 540px;}

@media screen and (max-device-width: 480px) {
	 #wrapper { position: relative; left: -3%; }
	 #shortcuts { display: none; }
	}
	.clear {
		clear: both;
	}
}