#user_box {
	margin: 0;
}
.box {
	background: -webkit-linear-gradient(top, #BDEBE9, #ADDAD8);
	background: -moz-linear-gradient(top, #BDEBE9, #ADDAD8);;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #86B2B1;
	box-shadow: #CCCCCC 0 1px 1px;
	-webkit-box-shadow: #C0C0C0 0 1px 1px;
	color: #FFF;
	text-shadow: #367B83 0 1px 1px;
}

h1.box {
	margin: 0;
	font-size: 15px;
	text-align: center;
}

.box table {
	padding: 10px 5px;
}

tr {
	margin: 5px 0;
}
/*.box form input, .box form label {
	font-size: 25px;
	width: 325px;
	padding: 5px;
}*/

.registrationInput {
	width: 140px;
}

.input {
	background: -webkit-linear-gradient(top, #BDEBE9, #91C2C0);
	background: -moz-linear-gradient(top, #BDEBE9, #91C2C0);;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #86B2B1;
	box-shadow: #CCCCCC 0 1px 1px;
	-webkit-box-shadow: #C0C0C0 0 1px 1px;
	color: #FFF;
	text-shadow: #367B83 0 1px 1px;
	cursor: pointer;
	margin: 0 0 10px 40px !important;
	text-align: center;
	width: 150px;

}
.input:hover {
	background: -webkit-linear-gradient(top, #BDEBE9, #A1D6D4);
	background: -moz-linear-gradient(top, #BDEBE9, #A1D6D4);;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #86B2B1;
	box-shadow: #CCCCCC 0 1px 1px;
	-webkit-box-shadow: #C0C0C0 0 1px 1px;
	color: #FFF;
	text-shadow: #367B83 0 1px 1px;
	cursor: pointer;
}
.links {
	margin: 15px 0;
	width: 545px;
	margin: 20px auto;
}
.links .link_button {
	background: -webkit-linear-gradient(top, #444444, #282828);
	background: -moz-linear-gradient(top,#444444,#282828);
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #86B2B1;
	box-shadow: #CCCCCC 0 1px 1px;
	-webkit-box-shadow: #C0C0C0 0 1px 1px;
	color: #FFF;
	text-shadow: #367B83 0 1px 1px;
	cursor: pointer;
	padding: 15px;
}
.form {
	float: left;
	padding: 5px;
	clear: both;
}
.form_header {
	text-align: center;
}

.clear {
  clear: both;  
}

span.registerToggle {
	font-weight: bold;
	font-size:15px;
	cursor: pointer;
}

.links {
	font-size: 12px;
	margin: 0 0 0 55px;
	padding: 0;
}

