/* 
 * MyVolume Start 
 * General
 */
 
html, body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  text-rendering: optimizeLegibility;
}
.top_background {
  height: 230px;
  position: absolute;
  width: 100%;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.7)), to(rgba(255,255,255,0.0)));
}
a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #0050a3;
  text-decoration: underline;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: block;
} 
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.container {
  width: 1000px;
  margin: 0 auto;
  zoom: 1;
  margin-bottom: 18px;
}
.heart, .playing .heart, .playing:hover .heart {
  height: 32px;
  width: 32px;
  background: url("/images/heart.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.heart.active, .playing .heart.active, .playing:hover .heart.active {
  background: url("/images/heartactive.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.heart:hover {
  background: url("/images/hearthover.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.heart.active:hover, .playing .heart.active:hover {
  background: url("/images/heartactivehover.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.download, .playing .download, .playing:hover .download {
  height: 32px;
  width: 32px;
  background: url("/images/download.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.download:hover, .playing .download:hover, .playing:hover .download:hover {
  background: url("/images/download-hover.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*
 * Topbar
 */
.topbar {
  height:40px;
  left:0;
  overflow-x:visible;
  overflow-y:visible;
  position:fixed;
  right:0;
  top:0;
  z-index:10000;
}
.topbar img {
  padding: 7px 10px 8px 0;
  float: left;
}
.topbar a {
  color: #7a7a7a;
}
.topbar a:hover, .topbar ul .active > a {
  background-color: #898989;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cecece), to(#cdcccc));
  background-image: -moz-linear-gradient(top, #cecece, #cdcccc);
  background-image: -ms-linear-gradient(top, #cecece, #cdcccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cecece), color-stop(100%, #cdcccc));
  background-image: -webkit-linear-gradient(top, #cecece, #cdcccc);
  background-image: -o-linear-gradient(top, #cecece, #cdcccc);
  background-image: linear-gradient(top, #cecece, #cdcccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#cdcccc', GradientType=0);
  color: #8b8b8b;
  text-decoration: none;
}
.topbar-inner, .topbar .fill {
  background-color: #eee;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eee), to(#e3e0e1));
  background-image: -moz-linear-gradient(top, #eee, #e3e0e1);
  background-image: -ms-linear-gradient(top, #eee, #e3e0e1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #e3e0e1));
  background-image: -webkit-linear-gradient(top, #eee, #e3e0e1);
  background-image: -o-linear-gradient(top, #eee, #e3e0e1);
  background-image: linear-gradient(top, #eee, #e3e0e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#e3e0e1', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.topbar div > ul, .nav {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
}
.topbar div > ul.secondary-nav, .nav.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.topbar div > ul > li, .nav > li {
  display: block;
  float: left;
}
.topbar div > ul a, .nav a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}

/* 
 * Charts Structure 
 */
#chart_wrapper, #top_downloads {
  min-height: 575px;
  overflow: hidden;
  margin-top: 40px;
}
#chart_wrapper h2 {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  padding: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
#charts {
  margin: 0px 30px 0 0;
  float: left;
}
.chart {
  border: solid 1px #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width: 250px;
  padding: 5px 10px;
  transition: 0.2s linear all;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  margin-bottom: 10px;
}
.chart_outside {
  padding-bottom: 10px;
  position: relative;
}
.chart_text, .chart img {
  float: left;
}
.chart_text {
  width: 200px;
  font-size: 1.1em;
}
.chart img {
  position: relative;
  top: 2px;
  margin-right: 10px;
  box-shadow: 1px 1px 1px #888;
  -webkit-box-shadow: 1px 1px 1px #888;
  -moz-box-shadow: 1px 1px 1px #888;
}
.chart:hover, .chart_list .active {
  cursor: pointer;
  border: 1px solid #999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.0976562) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.0976562) 0 1px 5px;
}
.chart_list .active {
  background: whitesmoke;
  background: -webkit-linear-gradient(top, #BEFFE8, #B2FFD1);
  border: 1px solid #bbb;
}
.chart .top {
  padding-bottom: 10px;
}
.chart .title {
  color: #333;
  font-weight: bold;
}
div.genre, span.genre {
  padding: 2px 6px;
  background: #2D6D90;
  text-shadow: 0 -1px 0 #0F425E;
  color: #eee;
  border: 1px solid #2D6D90;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 2px;
  font-size: .9em;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
div.genre:hover, span.genre:hover {
  background: #2CA062;
}
div.genre {
  font-size: 1.1em;
}
/* Chart Songs Table */
#chart_songs {
  margin: 0px 0 20px 0;
  position: relative;
  float: left;
  width: 690px;
}
tr {
  color: #555;
  vertical-align: center;
}


table {
/* edit bootstrap */
  border: solid 1px #ccc;
  box-shadow: rgba(0, 0, 0, 0.0976562) 0 1px 5px;
  word-wrap: break-word;
  background: whitesmoke;
}
table img {
  position: relative;
  top: 2px;
}
table .thumb img {
  box-shadow: 1px 1px 1px #888;
  -webkit-box-shadow: 1px 1px 1px #888;
  -moz-box-shadow: 1px 1px 1px #888;
}
th:last-child {
  padding-right: 20px;
}
.mix_name {
  font-size: .85em;
}
td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
td.artist {
  width: 210px;
}
#top_downloads td.artist {
  width: 300px;
}
#top_downloads td.ranked {
  font-size: 1.2em;
  font-weight: bold;
}
#top_downloads td.genre {
  width: 150px;
}
#top_downloads td.heart, #top_downloads td.download {
  width: 30px;
}
td.genre {
  width: 85px;
  font-size: .85em;
}
div.song_name {
  color: #333;
  font-weight: bold;
}
#chart_title h3 {
  display: inline;
  padding: 10px 20px 10px 20px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-left: solid 1px #ccc;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.0976562) 0 1px 5px;
  top: 7px;
}
tr td.play {
  cursor:pointer;
}
tr td.play:hover {
  color: #B2FFD1
}

  /*
   *  #404a69 darkest blue
   *  #516c8a darker blue
   *  #8ac0de blue -- background
   *  #bfd3de light blue
   *  #ffac00 orange
   *  #ffffff and of course white
   */

/* Pagination */
.pagination {
  margin-top: 18px;
  margin-bottom: 10px;
  height: 25px;
}
.pagination a, .pagination em, .pagination span {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
}
.pagination a {
  color: #2D6E90;

}
.pagination a:hover {
  border: 1px solid #8ac0de;
  text-decoration: none;
}
/* Sign in Screen */
.login_outside {
  width: 776px;
  margin: 0px auto;
  padding-top: 20px;
}
.login_outside .facebook_login {
  margin-left: 10px;
  height: 24px;
  overflow: hidden;
  float: right;
  margin-bottom: 40px;
}
.register_button {
  float: right;
  height: 12px;
}
.login_box input[type="text"], .login_box input[type="password"], .login_box .btn {
  margin-bottom: 30px;
  display: block;
  height: 44px;
  font-size: 2em;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.login_box .btn {
  height: 60px;
}
.green_bar {
  background: -webkit-linear-gradient(top, #BEFFE8, #B2FFD1);
  background: -moz-linear-gradient(top, #BEFFE8, #B2FFD1);
  height: 30px;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}
fieldset {
  background: -webkit-linear-gradient(top, #BEFFE8, #B2FFD1);
  padding-top: 30px;
  border-radius: 4px;
  border: 1px solid #94BFA5;
  -moz-border-radius: 4px;
  margin-top: 50px;
  background: -moz-linear-gradient(top, #BEFFE8, #B2FFD1);
  box-shadow: rgba(0, 0, 0, 0.09375) 0 1px 5px;
}
input::-webkit-input-placeholder {
  color: #888;
  padding: 4px;
}
input:-moz-placeholder {
  color: #888;
  padding: 4px;
}
input.submit {
  font-size: 2em;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: #D1EED1;
  border: 1px solid #BFE7BF;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Error Messages */
.alert {
  width: 200px;
  float: left;
}

table th, table td {
  padding: 4px 10px 4px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
table tr:hover {
  cursor: pointer;
}
table tr.playing, table tr:hover  {
  background: -webkit-linear-gradient(top, #BEFFE8, #B2FFD1);
  background: -moz-linear-gradient(top, #BEFFE8, #B2FFD1);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); 
}

.alert-message {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius: 4px;
  height: 30px;
}

