<div id="body">
	
	<div id="player_fixed">
		<audio preload="none"></audio>
		<ol id="player_playlist">
		</ol>
	</div>
	<div class="content_wrapper">
		<div id="charts">
			<%= render 'home/charts' %>
		</div>
		<div id="topdownloads">
			<%= render 'home/topDownloads' %>
		</div>
		<div id="rightbar">
			<%= render 'home/sessionAjaxSwitch'%>
		</div>
	</div>
</div>