
<div id="chart_wrapper" class="clearfix">
  <div id = "chart_pagination">
    <%= render 'charts/pagination' %>
  </div>
<div id = "charts">
  <%= render "charts" %>
</div>
<div id = "chart_songs">
  <%= render "chart_songs" %>
</div>
</div>


