<div id="chart_wrapper" class="clearfix">
<div id = "charts">
  <%= render "charts" %>
</div>
<div id = "chart_songs">
  <%= render "chart_songs" %>
</div>
</div>

<%= will_paginate @charts, :class => "pagination charts", :param_name => "chart_page", :previous_label => 'Previous', :next_label => 'Next' %>
