<%= will_paginate @top_downloads, :class => "pagination top-downloads", :param_name => "top_download_page", :previous_label => 'Previous', :next_label => 'Next' %>
<% if !@top_downloads.nil? %>
<table>
    <% @top_downloads.each do |top| %>
      <tr class="play <%= top.song.id %>" name="<%= top.song.sample_url %>" class="#{top.song.id}">
          <%= render 'songs/top_song', :ranked => top %>
      </tr>
    <% end %>
</table>
<% end %>
