<% if notice or alert %>
  <div id="flash">
		<div class="alert-message info">
		  <p><%= notice %></p>
		</div>
		<div class="alert-message warning">
		  <p><%= alert %></p>
		</div>
		<!-- <span class="close_flash">[x]</span> -->   
  </div>
<% end %>
<script>
	$(function() {
		$('#flash').delay(5000).fadeOut();
	});
</script>
