<% if notice or alert %>
		<span class="notice"><%= notice %></span>
		<span class="alert"><%= alert %></span>
		<!-- <span class="close_flash">[x]</span> -->    
<% end %>
<script>
	$(function() {
		//$('#flash').delay(5000).fadeOut();
	});
</script>